h1 {
	text-align: center;
	page-break-after: avoid;
}
h2 {
	page-break-after: avoid;
}
h3 {
	page-break-after: avoid;
}
body {
	background: #DFC;
	text-align: justify;
	orphans: 3;
	windows: 4;
}
caption {
	font-weight: bold;
	font-style: oblique;
}
