include logo.svg
include tox.ini
include tests/*.py
include scripts/python-nxt-filer.desktop
include contrib/60-libnxt.rules
include docs/Makefile
include docs/conf.py
include docs/favicon.ico
recursive-include docs *.rst
recursive-include examples *.py
